<div class="bonding-buttons">
  <% if can? :follow, user %>
    <%= link_to follow_bond_path(user), method: :post do %>
      <%= evil_icon "ei-plus", class: "green" %>
    <% end %>
  <% end %>

  <% if can? :unfollow, user %>
    <%= link_to unfollow_bond_path(user), method: :post do %>
      <%= evil_icon "ei-minus", class: "red" %>
    <% end %>
  <% end %>
</div>
