files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_yarn_install.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config \
        container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config \
        container -k app_user)

      if which yarn; then
        echo "Skipping installation of yarn -- yarn already installed."
        echo "yarn --version: `yarn --version`"
      else
        # Download the yarn repo, not zero, but big O
        sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O \
          /etc/yum.repos.d/yarn.repo
        file /etc/yum.repos.d/yarn.repo

        echo "Installing Node v10.x ..."
        curl --location https://rpm.nodesource.com/setup_10.x > \
          /home/ec2-user/node_install.sh
        file /home/ec2-user/node_install.sh
        sudo bash /home/ec2-user/node_install.sh
        sudo yum install -y nodejs
        node --version

        echo "Installing Yarn"
        sudo yum install -y yarn
        yarn --version
      fi

      echo "Change directory to $EB_APP_STAGING_DIR"
      cd $EB_APP_STAGING_DIR

      # yarn install
      echo "Running yarn install."
      yarn install
